@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('satoshi.css');
:root {
  background-color: #252422;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.guy_image {
  width: 500px;
}
.yigoat{ 
  transition: width 0.5s ease;
}

.yigoat.clicked {
  width: 0;
  /* New state when clicked */
}

@keyframes widthAnimation{
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}